<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yisoo.dao.UploadInfoMapper">
  <resultMap id="BaseResultMap" type="com.yisoo.bean.UploadInfo">
    <id column="upload_id" jdbcType="INTEGER" property="uploadId" />
    <result column="project_id" jdbcType="INTEGER" property="projectId" />
    <result column="g_id" jdbcType="INTEGER" property="gId" />
    <result column="file_id" jdbcType="INTEGER" property="fileId" />
    <result column="upload_time" jdbcType="TIMESTAMP" property="uploadTime" />
    <result column="upload_ip" jdbcType="VARCHAR" property="uploadIp" />
    <result column="upload_code" jdbcType="VARCHAR" property="uploadCode" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    upload_id, project_id, g_id, file_id, upload_time, upload_ip, upload_code
  </sql>
  <select id="selectByExample" parameterType="com.yisoo.bean.UploadInfoExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from uploadinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from uploadinfo
    where upload_id = #{uploadId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from uploadinfo
    where upload_id = #{uploadId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.yisoo.bean.UploadInfoExample">
    delete from uploadinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.yisoo.bean.UploadInfo">
    insert into uploadinfo (upload_id, project_id, g_id, 
      file_id, upload_time, upload_ip, 
      upload_code)
    values (#{uploadId,jdbcType=INTEGER}, #{projectId,jdbcType=INTEGER}, #{gId,jdbcType=INTEGER}, 
      #{fileId,jdbcType=INTEGER}, #{uploadTime,jdbcType=TIMESTAMP}, #{uploadIp,jdbcType=VARCHAR}, 
      #{uploadCode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.yisoo.bean.UploadInfo">
    insert into uploadinfo
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="uploadId != null">
        upload_id,
      </if>
      <if test="projectId != null">
        project_id,
      </if>
      <if test="gId != null">
        g_id,
      </if>
      <if test="fileId != null">
        file_id,
      </if>
      <if test="uploadTime != null">
        upload_time,
      </if>
      <if test="uploadIp != null">
        upload_ip,
      </if>
      <if test="uploadCode != null">
        upload_code,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="uploadId != null">
        #{uploadId,jdbcType=INTEGER},
      </if>
      <if test="projectId != null">
        #{projectId,jdbcType=INTEGER},
      </if>
      <if test="gId != null">
        #{gId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        #{fileId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadIp != null">
        #{uploadIp,jdbcType=VARCHAR},
      </if>
      <if test="uploadCode != null">
        #{uploadCode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.yisoo.bean.UploadInfoExample" resultType="java.lang.Long">
    select count(*) from uploadinfo
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update uploadinfo
    <set>
      <if test="record.uploadId != null">
        upload_id = #{record.uploadId,jdbcType=INTEGER},
      </if>
      <if test="record.projectId != null">
        project_id = #{record.projectId,jdbcType=INTEGER},
      </if>
      <if test="record.gId != null">
        g_id = #{record.gId,jdbcType=INTEGER},
      </if>
      <if test="record.fileId != null">
        file_id = #{record.fileId,jdbcType=INTEGER},
      </if>
      <if test="record.uploadTime != null">
        upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.uploadIp != null">
        upload_ip = #{record.uploadIp,jdbcType=VARCHAR},
      </if>
      <if test="record.uploadCode != null">
        upload_code = #{record.uploadCode,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update uploadinfo
    set upload_id = #{record.uploadId,jdbcType=INTEGER},
      project_id = #{record.projectId,jdbcType=INTEGER},
      g_id = #{record.gId,jdbcType=INTEGER},
      file_id = #{record.fileId,jdbcType=INTEGER},
      upload_time = #{record.uploadTime,jdbcType=TIMESTAMP},
      upload_ip = #{record.uploadIp,jdbcType=VARCHAR},
      upload_code = #{record.uploadCode,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.yisoo.bean.UploadInfo">
    update uploadinfo
    <set>
      <if test="projectId != null">
        project_id = #{projectId,jdbcType=INTEGER},
      </if>
      <if test="gId != null">
        g_id = #{gId,jdbcType=INTEGER},
      </if>
      <if test="fileId != null">
        file_id = #{fileId,jdbcType=INTEGER},
      </if>
      <if test="uploadTime != null">
        upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      </if>
      <if test="uploadIp != null">
        upload_ip = #{uploadIp,jdbcType=VARCHAR},
      </if>
      <if test="uploadCode != null">
        upload_code = #{uploadCode,jdbcType=VARCHAR},
      </if>
    </set>
    where upload_id = #{uploadId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.yisoo.bean.UploadInfo">
    update uploadinfo
    set project_id = #{projectId,jdbcType=INTEGER},
      g_id = #{gId,jdbcType=INTEGER},
      file_id = #{fileId,jdbcType=INTEGER},
      upload_time = #{uploadTime,jdbcType=TIMESTAMP},
      upload_ip = #{uploadIp,jdbcType=VARCHAR},
      upload_code = #{uploadCode,jdbcType=VARCHAR}
    where upload_id = #{uploadId,jdbcType=INTEGER}
  </update>
</mapper>